body{
    width:80%;
    margin-right:auto;
    margin-left:auto;
}
div{
    height:20px;
}
.labels{
    width:150px;
    float:left;
}
.datos{
    width:400px;
}
.primary{
    width:281px;
    /* float:right;*/
}
.radiob{
    width:400px;
}
.button{
    width:70px;
    background:blue;
    float:right;
    color:white;
}
#master{
    width:auto;
    height:auto;
    margin-top:20px;
}
#form{
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
#lista{
    margin-top:80px;
    padding-left:400px;
}